// 
$color-black: #000000;
$color-primary: #28466b;
$color-secondary: #727272;
$color-gray-light: #edeef0;
$color-white: #ffffff;

// 
$font-family: "Roboto", sans-serif;
$font-size: 16px;
$font-weight: 400;

// 
$letter-spacing: 0.1em;
$line-height: 1.64;
$line-height-sm: 1.4;

// 
$container-primary: 1110px;
$container-secondary: 540px;

// 
$gap: 20px;
$gap-sm: $gap * 0.5;  // 10px
$gap-lg: $gap * 1.5;  // 30px
$gap-xl: $gap * 2;    // 40px
